# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Environment variables
.env
.env.*
!.env.example

# Alembic
alembic/versions/__pycache__/

# Logs
*.log

# OS
.DS_Store

# Docker
postgres-data/
